{:source-paths ["src"]
 :dependencies [[proto-repl "0.3.1"]]
 :nrepl {:port 3333}
 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "js"
   :modules
   {:main
    {:entries [app.core]}}
   :devtools
   {:before-load app.core/stop
    :after-load app.core/start
    :http-root "public"
    :http-port 8020}}
  {:target     :node}}}

; see command line commands: https://shadow-cljs.github.io/docs/UsersGuide.html#_command_line
